@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.button {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: $darkText;
    cursor: pointer;
    min-width: 150px;
    padding: 10px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    touch-action: none;
    transition: all ease-in-out 0.3s;
    z-index: 2;

    @include media(">tablet") {
        font-size: 18px;

        min-width: 200px;

        padding: 9px 0 8px;
    }

    &_form {
        min-width: 295px;

        @include media(">=tablet") {
            min-width: 285px;
        }
    }

    &_transparent {
        background-color: transparent;
        box-shadow: none;
        color: $white;
        min-width: 125px;
        padding: 9px 0;
        border: 1px solid $white;

        @include media(">tablet") {
            display: none;
        }
    }

    &:hover {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
    }
}
