html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;

    color: $white;

    background-color: black;

    position: relative;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
}

.disable-container {
    @include media("<tablet") {
        max-width: unset;
        padding: 0 10px;
    }
}

img {
    max-width: 100%;
}
