html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    color: $white;
    background-color: black;
    position: relative;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
}

.disable-container {
    @include media("<=tablet") {
        max-width: unset;
        padding: 0 10px;
    }
}

.scroll-block {
    overflow: hidden;
}

.relative {
    position: relative;
}

.contact-container {
    position: absolute;
    top: 100px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
